* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form > div > input {
    width: 250px;
    margin: 5px 0 5px 5px;
    padding: 3px;
}

form > button {
    align-self: flex-end;
    padding: 7px;
    width: 75px;
}

button#print-btn {
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px;
}

div#modal-add {
    background-color: wheat;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px;
}
div#modal-add > button {
    font-size: 11px;
    padding: 5px;
    margin-bottom: 20px;
}

div#modal-add > ul {
    list-style: none;
}
div#modal-add > p {
    font-size: 14px;
    margin-bottom: 7px;
}
div#modal-add > ul > li {
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

div#main {
    margin-top: 10px;
}

div#main > div#buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
button#clear-btn {
    padding: 7px;
}

div#show-payment {
    margin-top: 20px;
    padding: 31px;
}
div#show-payment > h1 {
    font-size: 27px;
    margin-bottom: 20px;
}
div#show-payment > p.details {
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.35fr 0.1fr 0.5fr;
}
div#show-payment > ul {
    list-style: none;
}
div#show-payment > ul > li {
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
div#show-payment > p#warn {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}